$bg-clr: #ede1b7;
$btn-clr-r: #f88d65;
$btn-clr-g: #7bd9c2;
$bg-clr-light: #f5f0e3;
$bg-clr-lighter: #fffcf5;
$txt-clr: #67654a;

body {
  background: $bg-clr;
  min-height: 100vh;
  font-family: PingFang SC;
}
