.buy-page {
  section{
    position: relative;
    margin-top: 1rem;
    padding-top: 2rem;
  }
  .section-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    display: inline-block;
    padding: 0.2rem 2rem;
    font-weight: bold;
    background-color: #F88D65;
    border-radius: 44px;
    color: #F7F0E2;
    font-size: 16px;
    text-align: center;
  }
  .field {
    width: 100%;
  }
  .lr-block{ 
    .field {
      width: 50%;
    }
  }
  .info-item {
    .control {
      display: flex;
      align-items: center;
    }
    .input-icon {
      position: absolute;
      left: 5px;
      z-index: 10;
      // margin-top: 3px;
      & ~ input {
        padding-left: 32px;
      }
    }
  }
  input, input[disabled] {
    background-color: $bg-clr-lighter;
    color: $txt-clr;
    box-shadow: none;
    border: none;
    opacity: 1;
    -webkit-opacity: 1;
    -webkit-text-fill-color: #67654a;
  }
  .sell-wrapper {
    .input-icon {
      position: absolute;
      left: 5px;
      z-index: 10;
      top: 7px;
      & ~ input {
        padding-left: 32px;
      }
    }
  }
  .two-btn-block{
    display: flex;
    justify-content: space-between;
    .button{
      width: 48%;
      height: 48px;
      margin-top: 8px;
      border-radius: 11px;
    }
    .btn-devalue{
      background: #f98d63;
    }
    .btn-value{
      background: #86C587;
    }
  }
  .my-realse{
    color: #aaa;
    font-size: 12px;
  }
}
