.login-page {
  .btn-login {
    background: $btn-clr-g;
    height: 58px;
    width: 100%;
    margin-top: 8px;
    border-radius: 11px;
    // transform: scale(1);
    &:hover {
      background: $btn-clr-g;
    }
    &:active {
      transform: scale(0.95);
    }
  }
  .btn-register {
    background: $btn-clr-r;
    &:hover {
      background: $btn-clr-r;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
