.reg-page {
  .form-wrapper {
    box-shadow: 
      inset 0px 4px 4px rgba(0, 0, 0, 0.25),0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .btn-reg {
    background: $btn-clr-g !important;
    height: 58px;
    width: 100%;
    margin-top: 8px;
    border-radius: 11px;
  }
}
