.sell-page {
  input[disabled] {
    background-color: $bg-clr-lighter;
    color: $txt-clr;
    box-shadow: none;
    border: none;
  }
  .control {
    display: flex;
    align-items: center;
  }
  .input-icon {
    position: absolute;
    left: 5px;
    z-index: 10;
    top: 7px;
    & ~ input {
      padding-left: 32px;
    }
  }
  .choose-open-type{
    select {
      width: 9rem;
      &:not(.is-multiple):not(.is-loading)::after{
        top: 54%;
      }
    }
    .select.is-empty select {
      color: #d9d6cb;
    }
  }
  .btn-reg {
    background: $btn-clr-g;
    height: 58px;
    width: 100%;
    margin-top: 8px;
    border-radius: 11px;
  }
}
